html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: Arial;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #05d5ff;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

h1.center-text {
  margin-bottom: 0.3em;
}

p.center-text {
  margin-top: 0.3em;
}

footer {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  margin-top: auto;
}
