@media (prefers-color-scheme: dark) {
    * {
        background-color: black;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    * {
        background-color: white;
        color: black;
    }
}

h1, h2, h3 {
    font-family: DM Sans;
}

body {
    font-family: DM Sans;
    padding: 1%;
    font-size: 18px;
    max-width: 40em;
    margin: auto;
    width: 50%;
    border: 10px solid lightgrey;
    border-radius: 5px;
}

#waves {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
